# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/CalendarApp/package-lock.json
calendar_app/calendar_app/.env
calendar_app/calendar_app/__pycache__/settings.cpython-312.pyc
calendar_app/calendar_app/__pycache__/urls.cpython-312.pyc
calendar_app/calendar_app/__pycache__/wsgi.cpython-312.pyc
calendar_app/schedules/__pycache__/__init__.cpython-312.pyc
calendar_app/schedules/__pycache__/admin.cpython-312.pyc
calendar_app/schedules/__pycache__/apps.cpython-312.pyc
calendar_app/schedules/__pycache__/models.cpython-312.pyc
calendar_app/schedules/__pycache__/serializers.cpython-312.pyc
calendar_app/schedules/__pycache__/urls.cpython-312.pyc
calendar_app/schedules/__pycache__/views.cpython-312.pyc
calendar_app/schedules/migrations/__pycache__/__init__.cpython-312.pyc
calendar_app/schedules/migrations/__pycache__/0001_initial.cpython-312.pyc
